.symptoms {
    text-align: center;
    color: #FF8D00;
 }
 
 #action1 {
     color: white;
     background-color: #2FB6D3;
 }
 
 #action2 {
     background-color: #FFAB00;
 }
 
.action {
    text-align: center;
    margin: auto;
}

.actionDescription {
    text-align: center;
    margin: auto;
}