<ion-header>
  <ion-toolbar>
    <ion-button slot="start">PDF</ion-button>
    <ion-title>important</ion-title>
    <ion-button routerLink="/normal" slot="end">Next</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">

  <ion-note color="primary">Step 3: Important - Call TCS</ion-note>
  <ion-progress-bar value="0.75"></ion-progress-bar>

  <p class="symptoms">Symptoms</p>
  <hr>

  <!-- Important list -->
  <ion-list class="ion-no-padding">

    <ion-item *ngFor="let important of importants" class="important" color="primary-contrast" tappable
      (click)="openInput(important.id)">

    <ion-grid>

      <ion-row>
        <ion-col>
          {{ important.type }}
          <br>
          {{ important.value }} ({{ important.unit }})
        </ion-col>

        <ion-col>
          {{ important.typeDescription }}
        </ion-col>
      </ion-row>

      <ion-row class="action">
        <ion-col>
          <ion-button color="danger">
            {{ important.action }}
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="actionDescription">
        <ion-col>
          {{ important.actionDescription }}
        </ion-col>
      </ion-row>

    </ion-grid>

    </ion-item>

  </ion-list>

  <!-- Add input button -->
  <ion-grid>
    <ion-row>
      <ion-col size="auto" offset="4">
        <ion-fab-button (click)="addInput()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-col>

      <ion-col size="auto">
        <h2>Add input</h2>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title id="action1">What to Do</ion-title>
    <ion-title id="action2">Call TCS</ion-title>
  </ion-toolbar>
</ion-footer>