<ion-header>
  <ion-toolbar>
    <ion-button slot="start">PDF</ion-button>
    <ion-title>normal</ion-title>
    <ion-button routerLink="/plan" slot="end">Next</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-note color="primary">Step 4: Normal - Continue normal activities</ion-note>
  <ion-progress-bar value="1"></ion-progress-bar>

  <p class="symptoms">Symptoms</p>
  <hr>

  <!-- Important list -->
  <ion-list>

    <ion-item *ngFor="let normal of normals" class="normal" color="primary-contrast">
      <ion-label>
        {{ normal.type }} ({{ normal.unit }})
      </ion-label>

      <div>{{ normal.value }}</div>
      <div>{{ normal.description }}</div>
    </ion-item>

  </ion-list>

  <!-- Add input button -->
  <ion-fab horizontal="center" vertical="center">
    <ion-fab-button class="ion-float-left" (click)="addInput()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <!-- Add spaces  -->
    &nbsp;&nbsp;&nbsp;&nbsp;
    <h2 class="ion-float-right">Add input</h2>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title id="action1">What to Do</ion-title>
    <ion-title id="action2">Continue normal activities</ion-title>
  </ion-toolbar>
</ion-footer>