<ion-header>
  <ion-toolbar color="primary-contrast">
    <ion-grid no-padding>
      <ion-row class="ion-nowrap ion-align-items-center">
        <ion-col size="auto">
          <div>
            <p>Back</p>
          </div>
        </ion-col>

        <ion-col></ion-col>

        <ion-col size="auto">
          <div>
            Crisis Plan 4/4
          </div>
        </ion-col>

        <ion-col></ion-col>

        <ion-col size="auto">
          <div>
            <ion-button fill="clear" (click)="allTempToActual()">Next</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <div class="step" color="primary-contrast">
    <p>Step 4: I'm Feeling Well</p>
  </div>

  <ion-progress-bar value="1"></ion-progress-bar>

  <!-- Normal list -->
  <div class="symptomDiv" color="primary-contrast" *ngFor="let normal of normals" tappable
    (click)="openInput(normal.id)">

    <ion-grid no-padding>
      <ion-row class="ion-nowrap">
        <ion-col>
          <ion-icon class="icon" [src]=normal.typeIcon></ion-icon>
          {{ normal.type }}
        </ion-col>

        <ion-col class="typeDescription">
          {{ normal.typeDescription }}
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="action">
      <ion-icon [src]=normal.actionIcon></ion-icon>
      <p>{{ normal.action }}</p>
    </div>

    <div class="actionDescription">
      {{ normal.actionDescription }}
    </div>

  </div>

  <!-- Add input button -->
  <ion-grid class="addSymptomButton" fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-fab-button (click)="addInput()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-col>

      <ion-col size="auto">
        <h2>Add symptom</h2>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>