<ion-header>
  <ion-toolbar color="primary-contrast">
    <ion-grid no-padding>
      <ion-row class="ion-nowrap ion-align-items-center">
        <ion-col size="auto">
          <div>
            <p slot="start">Back</p>
          </div>
        </ion-col>

        <ion-col></ion-col>

        <ion-col size="auto">
          <div>
            Crisis Plan 1/4
          </div>
        </ion-col>

        <ion-col></ion-col>

        <ion-col size="auto">
          <div>
            <ion-button fill="clear" slot="end" [routerLink]="criticalPath" routerDirection="forward"
              (click)="contactForm.ngSubmit.emit()" [disabled]="!contactForm.valid">Next</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="step" color="primary-contrast">
    <p>Step 1: Enter TCS Contact</p>
  </div>

  <ion-progress-bar value="0.25"></ion-progress-bar>

  <form (ngSubmit)="saveTempContact()" #contactForm="ngForm">

    <!-- Name input -->
    <div class="nameInput">
      <ion-label position="stacked">TCS Name</ion-label>
      <ion-input name="name" #name="ngModel" [(ngModel)]="contact.name" clearInput=true required></ion-input>
    </div>

    <!-- Name validation -->
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error">
      <div *ngIf="name.errors.required">
        Name is required
      </div>
    </div>

    <!-- Number input -->
    <div class="typeInput">
      <ion-label position="stacked">TCS Contact No.</ion-label>
      <ion-input name="number" #number="ngModel" [(ngModel)]="contact.number" type="number" clearInput=true required>
      </ion-input>
    </div>

    <!-- Number validation -->
    <div *ngIf="number.invalid && (number.dirty || number.touched)" class="error">
      <div *ngIf="number.errors.required">
        Number is required
      </div>
    </div>

  </form>

</ion-content>