<ion-header>
  <ion-toolbar>
    <ion-title>symptoms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <form [formGroup]="symptomForm" (ngSubmit)="createPlan()">

      <p>Enter suggested inputs:</p>

      <ion-item>
        <ion-label>Blood sugar</ion-label>
        <ion-input type="number" formControlName="bloodSugar" name="bloodSugar"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Temperature</ion-label>
        <ion-input type="number" formControlName="temperature" name="temperature"></ion-input>
      </ion-item>

      <!-- <ion-button expand="full" type="submit" [disabled]="!symptomForm.valid"> -->
      <ion-button expand="full" type="submit">
        <ion-icon name="checkmark" slot="start"></ion-icon>
        Submit
      </ion-button>

    </form>
  </ion-list>

</ion-content>