<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'SETTINGS.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>

    <ion-item>
      <ion-icon src="/assets/language.svg"></ion-icon>
      <p routerLink="/tabs/settings/languages">{{ 'SETTINGS.language' | translate }}</p>
    </ion-item>
    <ion-item>
      <ion-icon src="/assets/open-book.svg"></ion-icon>
      <p routerLink="/tabs/settings/tutorial">{{ 'SETTINGS.tutorial' | translate }}</p>
    </ion-item>
    <ion-item>
      <ion-icon src="/assets/info-button.svg"></ion-icon>
      <p routerLink="/tabs/settings/about">{{'SETTINGS.about' | translate }}</p>
    </ion-item>

  </ion-list>

</ion-content>