<ion-header>
  <ion-toolbar color="primary-contrast">
    <ion-grid no-padding>
      <ion-row class="ion-nowrap">

        <ion-col size="auto">
          <div>
            {{ 'SETTINGS.title' | translate }}
          </div>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full">

    <ion-item routerLink="/tabs/settings/languages">
      <ion-icon src="/assets/language.svg"></ion-icon>
      <p>{{ 'SETTINGS.language' | translate }}</p>
      <p slot="end">{{ selectedLanguage }}</p>
    </ion-item>

    <ion-item routerLink="/tabs/settings/tutorial">
      <ion-icon src="/assets/open-book.svg"></ion-icon>
      <p>{{ 'SETTINGS.tutorial' | translate }}</p>
    </ion-item>

    <ion-item routerLink="/tabs/settings/about">
      <ion-icon src="/assets/info-button.svg"></ion-icon>
      <p>{{'SETTINGS.about' | translate }}</p>
    </ion-item>

  </ion-list>

</ion-content>