<ion-header>
  <ion-toolbar>
    <ion-title>symptomsModal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="inputForm" (ngSubmit)="saveInput()">

    <p>Enter your symptom:</p>

    <ion-item>
      <ion-label position="stacked">Type</ion-label>
      <ion-select formControlName="type" okText="Ok" cancelText="Cancel" (ionChange)="setUnit()">
        <ion-select-option value="bloodSugar">Blood Sugar</ion-select-option>
        <ion-select-option value="bloodPressure">Bood Pressure</ion-select-option>
        <ion-select-option value="temperature">Temperature</ion-select-option>
      </ion-select>
    </ion-item>

    <div *ngIf="type.invalid && (type.dirty || type.touched)" class="error">
      <div *ngIf="type.errors.required">
        Type is required
      </div>

      <div *ngIf="type.errors.existingType">
        Type already exist. Please edit existing type instead.
      </div>
    </div>

    <ion-item>
      <ion-label position="stacked">Value</ion-label>
      <ion-input formControlName="value" type="number"></ion-input>
    </ion-item>

    <div *ngIf="value.invalid && (value.dirty || value.touched)" class="error">
      <div *ngIf="value.errors.required">
        Value is required
      </div>
    </div>

    <ion-item>
      <ion-label position="stacked">Unit</ion-label>
      <ion-input formControlName="unit" [(value)]="inputForm.value.unit"></ion-input>
    </ion-item>

    <div *ngIf="unit.invalid && (unit.dirty || unit.touched)" class="error">
      <div *ngIf="unit.errors.required">
        Unit is required
      </div>
    </div>

    <ion-item>
      <ion-label position="stacked">Level</ion-label>
      <ion-row class="color-row">
        <ion-col size="3" class="color-col" *ngFor="let color_level of color_levels | keyvalue"
          [style.background]="color_level.value" [class.selected]="color_level.value == inputForm.get('color').value"
          tappable (click)="setColorAndLevel(color_level.value)">
          {{ color_level.key }}
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <ion-textarea formControlName="description" rows="6"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Action</ion-label>
      <ion-input formControlName="action"></ion-input>
    </ion-item>

    <div *ngIf="action.invalid && (action.dirty || action.touched)" class="error">
      <div *ngIf="action.errors.required">
        Action is required
      </div>
    </div>

    <!-- Submit form button -->
    <ion-button expand="full" type="submit" [disabled]="!inputForm.valid">
      <ion-icon name="checkmark" slot="start"></ion-icon>
      Add input
    </ion-button>

  </form>

</ion-content>