ion-toolbar {
    background-color: #7587DC;
    color: white;
}

ion-toolbar ion-button {
    color: white;
    text-transform: none;
}

.inputDiv {
    padding-top: 5%;
}

.inputDiv div {
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);  
    border: 1px solid #E5E5E5;
    border-radius: 10px;
}

.inputDiv input {
    width: 76%;
    border: 0;
    margin: 2% 0 2% 0;
}

.inputIcon {
    vertical-align: top;
    width: 10%;
    font-size: 150%;
    margin: 2% 2% 2% 2%;
}

.arrow {
    vertical-align: middle;
    width: 6%;
    margin: 2% 2% 2% 2%;
}

.dropdown {
    display: none;
    width: 90%;
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown:hover {
    background-color: #E5E5E5;
}

.dropdown * {
    margin: 0;
}

.dropdown p {
    display: inline-block;
}

.dropdown .dropdownIcon {
    vertical-align: middle;
    width: 10%;
    font-size: 150%;
    margin: 2% 2% 2% 2%;
}

.requiredError {
    color: red;
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.sameTypeError {
    color: red;
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.textarea {
    width: 84%; 
    margin: 2% 2% 2% 0;
    border: none;
}