<ion-header>
  <ion-toolbar>
    <ion-title>symptomsModal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="inputForm" (ngSubmit)="saveInput()">

    <p>Enter your symptom:</p>

    <div class="input" color="primary-contrast">
      <input formControlName="type" list="type" name="type" [(value)]="inputForm.value.type">

      <div class="arrow" color="primary-contrast" (click)="typeDropdown()">⌄</div>
    </div>

    <div [@showHide]="typeIsVisible ? 'show' : 'hide'" class="dropdown">
      <div style="background-color: yellow" *ngFor="let typeAndIcon of defaultTypesAndIcons">
        <ion-icon style="display: inline-block" [src]=typeAndIcon.typeIcon></ion-icon>
        <p style="display: inline-block" (click)="selectTypeInput(typeAndIcon.type, typeAndIcon.typeIcon)">{{ typeAndIcon.type }}</p>
      </div>
    </div>

    <br><br>

    <!-- Type input -->
    <!-- <input formControlName="type" list="type" name="type" [(value)]="inputForm.value.type">
    <datalist id="type">
      <option value="Blood Sugar">
      <option value="Blood Pressure">
      <option value="Temperature">
    </datalist> -->

    <!-- Type input -->
    <!-- <ion-item>
      <ion-label position="stacked">Type</ion-label>
      <ion-select formControlName="type" okText="Ok" cancelText="Cancel" (ionChange)="setUnitAndIcon()"
        [(value)]="inputForm.value.type">
        <ion-select-option value="bloodSugar">Blood Sugar</ion-select-option>
        <ion-select-option value="bloodPressure">Blood Pressure</ion-select-option>
        <ion-select-option value="temperature">Temperature</ion-select-option>

        <ion-select-option value="other">
          <ion-input type="text">Other</ion-input>
        </ion-select-option>

      </ion-select>
    </ion-item> -->

    <!-- Type validation -->
    <div *ngIf="type.invalid && (type.dirty || type.touched)" class="error">
      <div *ngIf="type.errors.required">
        Type is required
      </div>

      <div *ngIf="type.errors.sameType">
        Type already exist on this page. Please edit existing type instead.
      </div>
    </div>

    <!-- Value input -->
    <!-- <ion-item>
      <ion-label position="stacked">Value</ion-label>
      <ion-input formControlName="value" type="number" [(value)]="inputForm.value.value"></ion-input>
    </ion-item> -->

    <!-- Value validation -->
    <!-- <div *ngIf="value.invalid && (value.dirty || value.touched)" class="error">
      <div *ngIf="value.errors.required">
        Value is required
      </div>

      <div *ngIf="value.errors.isNaN">
        Value is required
      </div>
    </div> -->

    <!-- Unit input -->
    <!-- <ion-item>
      <ion-label position="stacked">Unit</ion-label>
      <ion-input formControlName="unit" [(value)]="inputForm.value.unit"></ion-input>
    </ion-item> -->

    <!-- Unit validation -->
    <!-- <div *ngIf="unit.invalid && (unit.dirty || unit.touched)" class="error">
      <div *ngIf="unit.errors.required">
        Unit is required
      </div>
    </div> -->

    <!-- Type Description input -->
    <ion-item>
      <ion-label position="stacked">Type Description</ion-label>
      <ion-textarea formControlName="typeDescription" rows="6" [(value)]="inputForm.value.typeDescription">
      </ion-textarea>
    </ion-item>

    <!-- Action input -->
    <div class="input" color="primary-contrast">
        <input formControlName="action" name="action" [(value)]="inputForm.value.action">
  
        <div class="arrow" color="primary-contrast" (click)="actionDropdown()">⌄</div>
      </div>
  
      <div [@showHide]="actionIsVisible ? 'show' : 'hide'" class="dropdown">
        <div style="background-color: yellow" *ngFor="let actionAndIcon of defaultActionsAndIcons">
          <ion-icon style="display: inline-block" [src]=actionAndIcon.actionIcon></ion-icon>
          <p style="display: inline-block" (click)="selectActionInput(actionAndIcon.action, actionAndIcon.actionIcon)">{{ actionAndIcon.action }}</p>
        </div>
      </div>
      
    <!-- <ion-item>
      <ion-label position="stacked">Action</ion-label>
      <ion-input formControlName="action" [(value)]="inputForm.value.action"></ion-input>
    </ion-item> -->

    <!-- Action validation -->
    <div *ngIf="action.invalid && (action.dirty || action.touched)" class="error">
      <div *ngIf="action.errors.required">
        Action is required
      </div>
    </div>

    <!-- Action Description input -->
    <ion-item>
      <ion-label position="stacked">Action Description</ion-label>
      <ion-textarea formControlName="actionDescription" rows="6" [(value)]="inputForm.value.actionDescription">
      </ion-textarea>
    </ion-item>

    <!-- Submit form button -->
    <ion-button expand="full" type="submit" [disabled]="!inputForm.valid">
      <ion-icon name="checkmark" slot="start"></ion-icon>
      Add input
    </ion-button>

    <!-- Delete input button -->
    <ion-button color="danger" expand="full" [hidden]="id == null" (click)="deleteInput(inputForm.value.id)">
      <ion-icon name="trash" slot="start"></ion-icon>
      Delete input
    </ion-button>

  </form>

</ion-content>