<ion-header>
  <ion-toolbar color="primary-contrast">
    <ion-grid no-padding>
      <ion-row class="ion-nowrap ion-align-items-center">
        <ion-col size="2">
          <div>
            <p (click)="back()">Back</p>
          </div>
        </ion-col>

        <ion-col size="3"></ion-col>

        <ion-col size="4">
          <div>
            Symptom
          </div>
        </ion-col>

        <ion-col size="3"></ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="inputForm" (ngSubmit)="saveInput()">

    <div class="inputDiv" color="primary-contrast">
      <div>
        <ion-icon class="inputIcon" src="/assets/icon/sad.svg"></ion-icon>
        <input placeholder="Enter symptom" formControlName="type" name="type" [(value)]="inputForm.value.type">
        <ion-icon class="arrow" src="/assets/icon/sort-down.svg"
          (click)="typeDropdown()"></ion-icon>
      </div>
    </div>

    <div [@showHide]="typeIsVisible ? 'show' : 'hide'" class="dropdown" *ngFor="let typeAndIcon of defaultTypesAndIcons"
      (click)="selectTypeInput(typeAndIcon.type, typeAndIcon.typeIcon)">
      <ion-icon class="dropdownIcon" [src]=typeAndIcon.typeIcon></ion-icon>
      <p>{{ typeAndIcon.type }}</p>
    </div>

    <!-- Type validation -->
    <div *ngIf="type.invalid && (type.dirty || type.touched)">
      <div class="requiredError" *ngIf="type.errors.required">
        Type is required
      </div>

      <div class="sameTypeError" *ngIf="type.errors.sameType">
        Type already exist on this page. Please edit existing type instead.
      </div>
    </div>

    <!-- Type input -->
    <!-- <input formControlName="type" list="type" name="type" [(value)]="inputForm.value.type">
    <datalist id="type">
      <option value="Blood Sugar">
      <option value="Blood Pressure">
      <option value="Temperature">
    </datalist> -->

    <!-- Type input -->
    <!-- <ion-item>
      <ion-label position="stacked">Type</ion-label>
      <ion-select formControlName="type" okText="Ok" cancelText="Cancel" (ionChange)="setUnitAndIcon()"
        [(value)]="inputForm.value.type">
        <ion-select-option value="bloodSugar">Blood Sugar</ion-select-option>
        <ion-select-option value="bloodPressure">Blood Pressure</ion-select-option>
        <ion-select-option value="temperature">Temperature</ion-select-option>

        <ion-select-option value="other">
          <ion-input type="text">Other</ion-input>
        </ion-select-option>

      </ion-select>
    </ion-item> -->

    <!-- Value input -->
    <!-- <ion-item>
      <ion-label position="stacked">Value</ion-label>
      <ion-input formControlName="value" type="number" [(value)]="inputForm.value.value"></ion-input>
    </ion-item> -->

    <!-- Value validation -->
    <!-- <div *ngIf="value.invalid && (value.dirty || value.touched)" class="error">
      <div *ngIf="value.errors.required">
        Value is required
      </div>

      <div *ngIf="value.errors.isNaN">
        Value is required
      </div>
    </div> -->

    <!-- Unit input -->
    <!-- <ion-item>
      <ion-label position="stacked">Unit</ion-label>
      <ion-input formControlName="unit" [(value)]="inputForm.value.unit"></ion-input>
    </ion-item> -->

    <!-- Unit validation -->
    <!-- <div *ngIf="unit.invalid && (unit.dirty || unit.touched)" class="error">
      <div *ngIf="unit.errors.required">
        Unit is required
      </div>
    </div> -->

    <!-- Type Description input -->
    <div class="inputDiv" color="primary-contrast">
      <div>
        <ion-icon class="inputIcon" name="create"></ion-icon>
        <textarea class="textarea" rows="4" placeholder="Describe the symptom in more detail" formControlName="typeDescription" name="typeDescription"
          [(value)]="inputForm.value.typeDescription"></textarea>
      </div>
    </div>

    <!-- Action input -->
    <div class="inputDiv" color="primary-contrast">
      <div>
        <ion-icon class="inputIcon" src="/assets/icon/medical-kit.svg"></ion-icon>
        <input placeholder="Select action to take" formControlName="action" name="action"
          [(value)]="inputForm.value.action">
        <ion-icon class="arrow" src="/assets/icon/sort-down.svg"
          (click)="actionDropdown()"></ion-icon>
      </div>
    </div>

    <div [@showHide]="actionIsVisible ? 'show' : 'hide'" class="dropdown"
      *ngFor="let actionAndIcon of defaultActionsAndIcons"
      (click)="selectActionInput(actionAndIcon.action, actionAndIcon.actionIcon)">
      <ion-icon class="dropdownIcon" [src]=actionAndIcon.actionIcon></ion-icon>
      <p>{{ actionAndIcon.action }}</p>
    </div>

    <!-- Action validation -->
    <div *ngIf="action.invalid && (action.dirty || action.touched)">
      <div class="requiredError" *ngIf="action.errors.required">
        Action is required
      </div>
    </div>

    <!-- Action Description input -->
    <div class="inputDiv" color="primary-contrast">
      <div>
        <ion-icon class="inputIcon" name="create"></ion-icon>
        <textarea class="textarea" rows="4" placeholder="Describe the required action in your own words" formControlName="actionDescription" name="actionDescription"
          [(value)]="inputForm.value.actionDescription"></textarea>
      </div>
    </div>

    <!-- Add symptom button -->
    <ion-button expand="full" type="submit" [disabled]="!inputForm.valid">
      <ion-icon name="checkmark"></ion-icon>
      Add/Edit symptom
    </ion-button>

    <!-- Delete input button -->
    <ion-button color="danger" expand="full" [hidden]="id == null" (click)="deleteInput(inputForm.value.id)">
      <ion-icon name="trash"></ion-icon>
      Delete symptom
    </ion-button>

  </form>

</ion-content>