ion-toolbar {
    background-color: #7587DC;
    color: white;
}

ion-toolbar ion-button {
    color: white;
    text-transform: none;
}

.error {
    color: red;
}

.inputDiv {
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    border: 2px;
}

.inputDiv input {
    width: 90%;
}

.inputDiv div {
    width: 10%;
}

.arrow {
    display: inline-block;
}

.dropdown {
    display: none;
    border: 2px;
    background-color: red;
}