<ion-header>
  <ion-toolbar color="primary-contrast">
    <ion-grid no-padding>
      <ion-row class="ion-nowrap ion-align-items-center">
        <ion-col size="auto">
          <div>
            <p routerLink="/tabs/settings" routerDirection="back">Back</p>
          </div>
        </ion-col>

        <ion-col></ion-col>

        <ion-col>
          <div>
            Tutorial
          </div>
        </ion-col>

        <ion-col></ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <u>Tab bar navigation</u><br>
    Navigate through the main features quickly (Plan, Appointments and Settings)

    <br><br>

    <u>Plan page</u><br>
    - <b>Create crisis plan button:</b> Tap this button to start creating your Crisis Plan<br>
    - <b>Create PDF button:</b> Export your Crisis Plan to PDF. You may view, download, print and run other comamnds as
    supported by your PDF viewer.

    <br><br>

    <u>Plan step 1 - 4 pages</u><br>
    - <b>Step 1 page:</b> Enter your TCS contact details (Name and Contact number)<br>
    - <b>Step 2-4 pages:</b> Tap the 'Add symptom' button to add a symptom under critical, important, and normal
    condition. Tap on the newly created symptom to view/edit/delete it.

    <br><br>

    <u>Appointments page</u><br>
    - <b>Add button:</b> Tap this button to schedule a new medical appointment<br>
    - <b>Swipe gesture:</b> Swipe left on an existing medical appointment displayed to reveal edit and delete options.
    Tap either option to edit/delete.

    <br><br>

    <u>New Appointment page</u><br>
    - Enter your medical appointment details (Date, Time and Clinic name) into the form fields, then tap the 'Save'
    button to schedule them. Tap the 'Cancel' button to discard your changes and return to the Appointments page.

    <br><br>

    <u>Settings page</u><br>
    - View and tap an individual setting option to navigate to it.

    <br><br>

    <u>Language page</u><br>
    - Tap on a language option to set it as the language for the app.

    <br><br>

    <u>Tutorial page</u><br>
    - App tutorial

    <br><br>

    <u>About page</u><br>
    - About the app
  </div>
</ion-content>