<ion-header>
  <ion-toolbar color="primary-contrast">
    <ion-grid no-padding>
      <ion-row class="ion-nowrap ion-align-items-center">
        <ion-col size="auto">
          <div>
            <ion-button fill="clear" routerLink="/tabs/appointments" routerDirection="back">Cancel</ion-button>
          </div>
        </ion-col>

        <ion-col></ion-col>

        <ion-col size="auto">
          <div>
            New Appointment
          </div>
        </ion-col>

        <ion-col></ion-col>

        <ion-col size="auto">
          <div>
            <ion-button fill="clear" routerLink="/tabs/appointments" routerDirection="forward"
              (click)="inputForm.ngSubmit.emit()" [disabled]="!inputForm.valid">Save</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form (ngSubmit)="saveInput()" #inputForm="ngForm">

    <ion-label position="stacked">Select appointment date & time</ion-label>

    <div>

      <!-- Date input -->
      <ion-item class="dateInput">
        <ion-datetime name="date" #date="ngModel" [(ngModel)]="appointment.apptDate"
          displayFormat="DD/MM/YYYY" placeholder="dd/mm/yyyy" required>
        </ion-datetime>
      </ion-item>

      <!-- Time input -->
      <ion-item class="timeInput">
        <ion-datetime name="time" #time="ngModel" [(ngModel)]="appointment.apptTime"
          displayFormat="hh:mma" placeholder="12:00pm" required>
        </ion-datetime>
      </ion-item>

      <!-- Date validation -->
      <div *ngIf="date.invalid && (date.dirty || date.touched)" class="error">
        <div *ngIf="date.errors.required">
          Date is required
        </div>
      </div>

      <!-- Time validation -->
      <div *ngIf="time.invalid && (time.dirty || time.touched)" class="error">
        <div *ngIf="time.errors.required">
          Time is required
        </div>
      </div>

    </div>

    <ion-label position="stacked">Enter clinic name</ion-label>

    <!-- Name input -->
    <div class="nameInput">
      <ion-input name="name" #name="ngModel" [(ngModel)]="appointment.clinicName"
        clearInput=true placeholder="Name of clinic" required></ion-input>
    </div>

    <!-- Name validation -->
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error">
      <div *ngIf="name.errors.required">
        Name is required
      </div>
    </div>

  </form>

</ion-content>