<ion-header>
  <ion-toolbar>
    <ion-button slot="start" routerLink="/tabs/appointments" routerDirection="back">Cancel</ion-button>
    <ion-title class="title">appointment-detail</ion-title>
    <ion-button slot="end" routerLink="/tabs/appointments" routerDirection="forward" (click)="inputForm.ngSubmit.emit()">Save</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form (ngSubmit)="saveInput()" #inputForm="ngForm">

    <ion-label position="stacked">Select appointment date & time</ion-label>

    <div>
      <!-- Date input -->
      <ion-item class="date">
        <ion-datetime name="date" #date="ngModel" [(ngModel)]="appointment.apptDate" displayFormat="MM/DD/YYYY" required></ion-datetime>
      </ion-item>

      <!-- Time input -->
      <ion-item class="time">
        <ion-datetime name="time" #time="ngModel" [(ngModel)]="appointment.apptTime" displayFormat="HH:mm" required></ion-datetime>
      </ion-item>
    </div>

    <!-- Date validation -->
    <div *ngIf="date.invalid && (date.dirty || date.touched)" class="error">
      <div *ngIf="date.errors.required">
        Date is required
      </div>
    </div>

    <!-- Time validation -->
    <div *ngIf="time.invalid && (time.dirty || time.touched)" class="error">
      <div *ngIf="time.errors.required">
        Time is required
      </div>
    </div>

    <ion-label position="stacked">Enter clinic name</ion-label>
  
    <!-- Name input -->
    <ion-item>
      <ion-input name="name" #name="ngModel" [(ngModel)]="appointment.clinicName" required></ion-input>
    </ion-item>

    <!-- Name validation -->
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error">
      <div *ngIf="name.errors.required">
        Name is required
      </div>
    </div>

  </form>

</ion-content>