<ion-tabs>

  <!-- slot property displays this ion-tab-bar at the bottom  -->
  <ion-tab-bar slot="bottom">

    <!-- tab property is synced to tabs.router.module.ts rouring paths -->
    <ion-tab-button tab="plan">
      <ion-icon src="/assets/icon/list.svg"></ion-icon>
      <ion-label>Plan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="appointments">
      <ion-icon src="/assets/icon/calendar.svg"></ion-icon>
      <ion-label>Appointments</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon src="/assets/icon/settings.svg"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>