<ion-header>
  <ion-toolbar>
    <ion-button slot="start">PDF</ion-button>
    <ion-title>critical</ion-title>
    <ion-button [routerLink]="importantPath" routerDirection="forward" slot="end">Next</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">

  <ion-note color="primary">Step 2: Ctitical - Get Help Now</ion-note>
  <ion-progress-bar value="0.5"></ion-progress-bar>

  <p class="symptoms">Symptoms</p>
  <hr>

  <!-- Critical list -->
  <ion-list class="ion-no-padding">

    <ion-item *ngFor="let critical of criticals" class="critical" color="primary-contrast" tappable
      (click)="openInput(critical.id)">

      <ion-grid>

        <ion-row>
          <ion-col>
            <ion-icon [src]=critical.typeIcon></ion-icon>
          </ion-col>

          <ion-col>
            {{ critical.type }}
          </ion-col>

          <ion-col>
            {{ critical.typeDescription }}
          </ion-col>
        </ion-row>

        <ion-row class="action">
          <ion-col>
            <ion-button color="danger">
              {{ critical.action }}
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row class="actionDescription">
          <ion-col>
            {{ critical.actionDescription }}
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-item>

  </ion-list>

  <!-- Add input button -->
  <ion-grid>
    <ion-row>
      <ion-col size="auto" offset="4">
        <ion-fab-button (click)="addInput()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-col>

      <ion-col size="auto">
        <h2>Add input</h2>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title id="action1">What to Do</ion-title>
    <ion-title id="action2">Call 995</ion-title>
  </ion-toolbar>
</ion-footer>