<ion-header>
  <ion-toolbar color="primary-contrast">
    <ion-grid no-padding>
      <ion-row class="ion-nowrap ion-align-items-center">
        <ion-col size="auto">
          <div>
            <p [routerLink]=defaultBackLink routerDirection="back">Back</p>
          </div>
        </ion-col>

        <ion-col></ion-col>

        <ion-col size="auto">
          <div>
            Crisis Plan 2/4
          </div>
        </ion-col>

        <ion-col></ion-col>

        <ion-col size="auto">
          <div>
            <ion-button fill="clear" [routerLink]="importantPath" routerDirection="forward">Next</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="step" color="primary-contrast">
    <p>Step 2: Ctitical - Get Help Now</p>
  </div>

  <ion-progress-bar value="0.5"></ion-progress-bar>

  <!-- Critical list -->
  <div class="symptomDiv" color="primary-contrast" *ngFor="let critical of criticals" tappable
    (click)="openInput(critical.id)">

    <ion-grid no-padding>
      <ion-row class="ion-nowrap">
        <ion-col>
          <ion-icon class="icon" [src]=critical.typeIcon></ion-icon>
          {{ critical.type }}
        </ion-col>

        <ion-col class="typeDescription">
          {{ critical.typeDescription }}
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="action">
      <ion-icon [src]=critical.actionIcon></ion-icon>
      <p>{{ critical.action }}</p>
    </div>

    <div class="actionDescription">
      {{ critical.actionDescription }}
    </div>

  </div>

  <!-- Add input button -->
  <ion-grid class="addSymptomButton" fixed>
    <ion-row class="ion-justify-content-center">
      <!-- size="auto" is required to size the col to the content's width, else col will be sized propotionally to the full width -->
      <ion-col size="auto">
        <ion-fab-button (click)="addInput()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-col>

      <ion-col size="auto">
        <h2>Add symptom</h2>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>