<ion-header>
  <ion-toolbar color="primary-contrast">
    <ion-grid no-padding>
      <ion-row class="ion-nowrap ion-align-items-center">
        <ion-col size="auto">
          <div>
            <p routerLink="/tabs/settings" routerDirection="back">Back</p>
          </div>
        </ion-col>

        <ion-col></ion-col>

        <ion-col>
          <div>
            About
          </div>
        </ion-col>
        
        <ion-col></ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    Crisis Plan allows you to easily create your own customized *Crisis Plan in a few simple steps, and schedule your
    medical appointments.

    <br><br>

    <u>Support</u>

    <br>

    - Main 4 languages (English, Chinese, Malay, Tamil)
    <br>
    - Export to PDF

    <br><br>

    *Crisis Plan: document that informs the patient on what to do when a medical emergency happens, as advised by the
    appointed doctor(s).
  </div>
</ion-content>