<ion-header>
  <ion-toolbar color="primary-contrast">
    <p slot="start" (click)="createPDF()">PDF</p>
    <ion-title class="title">Plan</ion-title>
    <p slot="end" (click)="addNewPlanAlert()" [hidden]="!planExists && !contactExists">Add</p>
    <p slot="end" id="edit" (click)="allActualToTemp()" [hidden]="!planExists && !contactExists">Edit</p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid class="contact" color="primary-contrast" *ngIf="contactExists">
    <ion-row>
      <ion-col>
        <p>TCS Name:</p>
        <br>
        <p><b>{{ contact.name }}</b></p>
      </ion-col>
      <ion-col>
        <p>TCS Contact Number:</p>
        <br>
        <p><b>{{ contact.number }}</b></p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>

    <!-- Critical list -->
    <!-- The color attribute is needed, else the custom CSS (class="criticalHeader") does not work -->
    <!-- Section header line -->
    <div class="criticalHeader" color="primary-contrast"></div>

    <!-- <ion-item *ngFor="let critical of criticals" class="critical" color="primary-contrast" tappable (click)="openInput(critical.id)"> -->
    <ion-item *ngFor="let critical of criticals" class="critical" color="primary-contrast">
      <ion-grid>

        <ion-row>
          <ion-col size="6">
            <p>{{ critical.type }}</p>
          </ion-col>

          <ion-col size="6">
            <p>{{ critical.action }}</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <p>{{ critical.typeDescription }}</p>
          </ion-col>

          <ion-col size="6">
            <p>{{ critical.actionDescription }}</p>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-item>

    <!-- Important list -->
    <div class="importantHeader" color="primary-contrast"></div>

    <ion-item *ngFor="let important of importants" class="important" color="primary-contrast">
      <ion-grid>

        <ion-row>
          <ion-col size="6">
            <p>{{ important.type }}</p>
          </ion-col>

          <ion-col size="6">
            <p>{{ important.action }}</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            {{ important.typeDescription }}
          </ion-col>

          <ion-col size="6">
            {{ important.actionDescription }}
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-item>

    <!-- Attention list -->
    <!-- <ion-item *ngFor="let attention of attentions" class="attention" color="primary-contrast">
      <ion-grid>

        <ion-row>
          <ion-col size="6">
            {{ attention.type }}
          </ion-col>

          <ion-col size="6">
            {{ attention.action }}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            {{ attention.typeDescription }}
          </ion-col>

          <ion-col size="6">
            {{ attention.actionDescription }}
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-item> -->

    <!-- Normal list -->
    <div class="normalHeader" color="primary-contrast"></div>

    <ion-item *ngFor="let normal of normals" class="normal" color="primary-contrast">
      <ion-grid>

        <ion-row>
          <ion-col size="6">
            <p>{{ normal.type }}</p>
          </ion-col>

          <ion-col size="6">
            <p>{{ normal.action }}</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            {{ normal.typeDescription }}
          </ion-col>

          <ion-col size="6">
            {{ normal.actionDescription }}
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-item>

  </ion-list>

  <!-- Add input button -->
  <ion-grid [hidden]="planExists || contactExists" class="button" style="background: red">
    <ion-row>
      <!-- size="auto" is required to size the col to the content's width, else wach col will be sized propotionally to the full width -->
      <ion-col style="background: green;" size="auto">
        <ion-fab-button routerLink="/tabs/plan/contact" routerDirection="forward">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-col>

      <ion-col style="background: blue;" size="auto">
        <h2>Create crisis plan</h2>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>