ion-toolbar {
    background-color: #7587DC;
    color: white;
}

ion-toolbar p {
    margin-left: 2vw;
    margin-right: 2vw;
}

.title {
    text-align: center;
}

.contact {
    margin: 2vw;
}

.contact p {
    margin: 0;
}

.criticalHeader {
    height: 1vw;
    background-color: #FF7776;
}

.critical p{
    margin: 0;
    font-size: 18px;
}

.critical ion-row:nth-child(2) {
    color: #CECDCD;
}

.importantHeader {
    height: 1vw;
    background-color: #FFAB00
}

.important p {
    margin: 0;
    font-size: 18px;
}

.important ion-row:nth-child(2) {
    color: #CECDCD;
}

.attention p {
    margin: 0;
    font-size: 18px;
}

.attention ion-row:nth-child(2) {
    color: #CECDCD;
}

.normalHeader {
    height: 1vw;
    background-color: #2FB6D3;
}

.normal p {
    margin: 0;
    font-size: 18px;
}

.normal ion-row:nth-child(2) {
    color: #CECDCD;
}