<ion-header>
  <ion-toolbar>
    <ion-button slot="start">PDF</ion-button>
    <ion-title class="title">Plan</ion-title>
    <!-- Discard, Add buttons -->
    <ion-button routerLink="/symptoms" slot="end">Add</ion-button>
    <ion-button routerLink="/symptoms" slot="end">Edit</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list *ngFor="let critical of criticals">

    <ion-item class="critical" color="primary-contrast" *ngIf="critical.hasOwnProperty('temperature')">
      <ion-label>
        Temperature: {{ critical.temperature }}
        <br>
        Temperature Level: {{ critical.level }}
        <br>
        Action: {{ critical.action }}
      </ion-label>
    </ion-item>

    <ion-item class="critical" color="primary-contrast" *ngIf="critical.hasOwnProperty('bloodSugar')">
      <ion-label>
        Blood Sugar: {{ critical.bloodSugar }}
        <br>
        Blood Sugar Level: {{ critical.level }}
        <br>
        Action: {{ critical.action }}
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-list *ngFor="let important of importants">

    <ion-item class="important" color="primary-contrast" *ngIf="important.hasOwnProperty('temperature')">
      <ion-label>
        Temperature: {{ important.temperature }}
        <br>
        Temperature Level: {{ important.level }}
        <br>
        Action: {{ important.action }}
      </ion-label>
    </ion-item>

    <ion-item class="important" color="primary-contrast" *ngIf="important.hasOwnProperty('bloodSugar')">
      <ion-label>
        Blood Sugar: {{ important.bloodSugar }}
        <br>
        Blood Sugar Level: {{ important.level }}
        <br>
        Action: {{ important.action }}
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-list *ngFor="let attention of attentions">

    <ion-item class="attention" color="primary-contrast" *ngIf="attention.hasOwnProperty('temperature')">
      <ion-label>
        Temperature: {{ attention.temperature }}
        <br>
        Temperature Level: {{ attention.level }}
        <br>
        Action: {{ attention.action }}
      </ion-label>
    </ion-item>

    <ion-item class="attention" color="primary-contrast" *ngIf="attention.hasOwnProperty('bloodSugar')">
      <ion-label>
        Blood Sugar: {{ attention.bloodSugar }}
        <br>
        Blood Sugar Level: {{ attention.level }}
        <br>
        Action: {{ attention.action }}
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-list *ngFor="let normal of normals">

    <ion-item class="normal" color="primary-contrast" *ngIf="normal.hasOwnProperty('temperature')">
      <ion-label>
        Temperature: {{ normal.temperature }}
        <br>
        Temperature Level: {{ normal.level }}
        <br>
        Action: {{ normal.action }}
      </ion-label>
    </ion-item>

    <ion-item class="normal" color="primary-contrast" *ngIf="normal.hasOwnProperty('bloodSugar')">
      <ion-label>
        Blood Sugar: {{ normal.bloodSugar }}
        <br>
        Blood Sugar Level: {{ normal.level }}
        <br>
        Action: {{ normal.action }}
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>