<ion-header>
  <ion-toolbar>
    <ion-button slot="start">PDF</ion-button>
    <ion-title class="title">Plan</ion-title>
    <!-- Discard, Add buttons -->
    <!-- <ion-button slot="end" (click)="addNewPlan()">Add</ion-button> -->
    <ion-button routerLink="/contact" slot="end" [hidden]="!planExists">Edit</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">

  <ion-grid class="ion-no-padding">
    <ion-row *ngIf="contact">
      <ion-col>
        TCS Name:
        <br>
        <b>{{ contact.name }}</b>
      </ion-col>
      <ion-col>
        TCS Contact Number:
        <br>
        <b>{{ contact.number }}</b>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-list class="ion-no-padding">

    <!-- Critical list -->
    <ion-item *ngFor="let critical of criticals" class="critical" color="primary-contrast" tappable (click)="openInput(critical.id)">
      <ion-grid>

        <ion-row>
          <ion-col size="6">
            {{ critical.type }}
            <br>
            {{ critical.value }} ({{ critical.unit }})
          </ion-col>

          <ion-col size="6">
            {{ critical.action }}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            {{ critical.typeDescription }}
          </ion-col>

          <ion-col size="6">
            {{ critical.actionDescription }}
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-item>

    <!-- Important list -->
    <ion-item *ngFor="let important of importants" class="important" color="primary-contrast" tappable (click)="openInput(important.id)">
      <ion-grid>

        <ion-row>
          <ion-col size="6">
            {{ important.type }}
            <br>
            {{ important.value }} ({{ important.unit }})
          </ion-col>

          <ion-col size="6">
            {{ important.action }}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            {{ important.typeDescription }}
          </ion-col>

          <ion-col size="6">
            {{ important.actionDescription }}
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-item>

    <!-- Attention list -->
    <ion-item *ngFor="let attention of attentions" class="attention" color="primary-contrast" tappable (click)="openInput(attention.id)">
      <ion-grid>

        <ion-row>
          <ion-col size="6">
            {{ attention.type }}
            <br>
            {{ attention.value }} ({{ attention.unit }})
          </ion-col>

          <ion-col size="6">
            {{ attention.action }}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            {{ attention.typeDescription }}
          </ion-col>

          <ion-col size="6">
            {{ attention.actionDescription }}
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-item>

    <!-- Normal list -->
    <ion-item *ngFor="let normal of normals" class="normal" color="primary-contrast" tappable (click)="openInput(normal.id)">
      <ion-grid>

        <ion-row>
          <ion-col size="6">
            {{ normal.type }}
            <br>
            {{ normal.value }} ({{ normal.unit }})
          </ion-col>

          <ion-col size="6">
            {{ normal.action }}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            {{ normal.typeDescription }}
          </ion-col>

          <ion-col size="6">
            {{ normal.actionDescription }}
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-item>

  </ion-list>

  <!-- Add input button -->
  <ion-grid [hidden]="!planExists">
    <ion-row>
      <ion-col size="auto">
        <ion-fab-button (click)="goToContact()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-col>

      <ion-col size="auto">
        <h2>Create crisis plan</h2>
      </ion-col>
    </ion-row>
  </ion-grid> 

</ion-content>