.title {
    text-align: center;
}

.critical {
    background-color: #FF0000;
}

.important {
    background-color: #FFA500;
}

.attention {
    background-color: #FFFF00;
}

.normal {
    background-color: #008000;
}

